<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mpluga">

    <application>
        <activity
            android:name="com.example.mpluga.PlugLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mpluga.MainActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
